@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-12-25 09:48:59
 * @version $Id$
 */
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.clear {
    -zoom: 1;
    clear: both;
    overflow: hidden;
}

.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.clear_ {
    clear: both;
    height: 0;
    overflow: hidden
}

div, a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    outline: none
}

img, fieldset, iframe {
    border: 0;
}

input, select, img {
    vertical-align: middle;
    border: none;
    outline: none;
    font-family: 'Microsoft YaHei';
}

input {
    outline: none;
}

em, i, del, ins {
    font-style: normal;
    text-decoration: none;
}

span, i, em {
    display: inline-block; /*display:-moz-inline-stack;*/
    zoom: 1;
    *display: inline;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

a {
    color: #3960A3;
}

button {
    border: 0;
}

ul {
    list-style: none;
}

strong, b {
    font-weight: normal;
}

html {
    height: 100%;
}

input, select {
    font-size: 14px;
}

body {
    font-family: 'Microsoft YaHei';
    height: 100%;
}

label.error {
    color: #FF6E04;
    padding-left: 5px;
}

/*head+foot*/
#continer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#header {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
}

#page {
    padding-bottom: 166px;
}

#footer {
    height: 166px;
    background: #293038;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    clear: both;
}

/*首页*/
.head {
    width: 1100px;
    margin: 0 auto;
}

.head .head_l {
    float: left;
    margin-right: 124px;
}

.head .head_l img {
    margin-top: 7px;
}

.head .head_m {
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
}

.head .head_m ul li {
    float: left;
    overflow: hidden;
    padding: 0 12px;
    margin-right: 30px;
    cursor: pointer;
}

.head .head_m ul li a {
    color: #999;
}

.head .head_m ul li.current {
    border-bottom: 4px solid #17A0F1;
}

.head .head_m ul li.current a {
    color: #333;
}

.head .head_r {
    float: right;
    position: relative;
}

.head .head_r ul li {
    overflow: hidden;
    margin-left: 12px;
    font-size: 14px;
    display: inline-block;
    margin-top: 9px;
}

.head .head_r ul li a {
    color: #999;
}

.head .head_r ul li img {
    margin: -2px 5px 0 0;
}

.pay_banners {
    position: relative;
    height: 460px;
}

.pay_banners img.pay_pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -9;
    height: 460px;
}

.pay_banner {
    width: 1100px;
    margin: 0 auto;
    padding-top: 48px;
}

.pay_banner .land {
    float: right;
    width: 292px;
    height: 368px;
    position: relative;
    margin-right: 35px;
    border-radius: 5px;
    opacity: 0.6;
    border: 1px solid #fff;
}

.pay_banner .land .land_bod {
    width: 294px;
    height: 370px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    border-radius: 5px;
}

.pay_banner .land .land_t {
    height: 37px;
    line-height: 37px;
    padding-left: 22px;
    border-bottom: 1px solid #bfbfbf;
    /*background: url(../img/home-icon_26.png) repeat-x;*/
    border-radius: 5px;
}

.pay_banner .land .land_cont {
    padding: 30px 0 0 21px;
    overflow: hidden;
}

.pay_banner .land .land_cont ul li {
    margin-bottom: 30px;
    position: relative;
}

.pay_banner .land .land_cont ul li input {
    width: 216px;
    height: 38px;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    color: #b7b7b7;
    font-size: 14px;
    padding-left: 38px;
    line-height: 38px;
}

.pay_banner .land .land_cont ul li img {
    position: absolute;
    top: 11px;
    left: 8px;
}

.pay_banner .land .land_cont ul li.key img {
    top: 9px;
}

.pay_banner .land .land_cont ul li.yzm input {
    width: 90px;
}

.pay_banner .land .land_cont ul li input.btn {
    padding: 0;
    width: 110px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background: #c2def3;
    border: 0;
    margin-left: 16px;
}

.pay_banner .land .land_cont ul li img.img_yzm {
    top: 2px;
    left: 112px;
}

.pay_banner .land .land_cont ul li span {
    font-size: 12px;
    color: #ff6e04;
    position: absolute;
    bottom: -22px;
    left: 38px;
}

.pay_banner .land .button {
    text-align: center;
}

.pay_banner .land .button button {
    width: 143px;
    height: 34px;
    text-align: center;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.pay_banner .land .title {
    text-align: center;
    margin-top: 15px;
}

.pay_banner .land .title a {
    font-size: 14px;
    color: #179ff1;
}

.pay_conts {
    width: 1100px;
    margin: 0 auto;
}

.pay_cont {
    height: 264px;
    overflow: hidden;
    padding: 68px 0 0 153px;
}

.pay_cont ul {
    width: 1280px;
    overflow: hidden;
}

.pay_cont ul li {
    float: left;
    width: 130px;
    margin-right: 218px;
    text-align: center;
}

.pay_cont ul li img {
    display: block;
    margin-left: 13px;
}

.pay_cont ul li span {
    font-size: 14px;
    color: #999;
}

.pay_cont ul li span h4 {
    font-size: 20px;
    color: #666;
    margin: 28px 0 12px;
}

.pay_cont2s {
    background: #f5f5f5;
    height: 732px;
}

.pay_cont2 {
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #999;
    font-weight: bold;
    width: 1100px;
    margin: 0 auto;
}

.pay_cont2 h2 {
    font-size: 35px;
    color: #333;
    margin: 50px 0 26px;
}

.pay_cont2 ul {
    width: 1280px;
    overflow: hidden;
    padding-top: 86px;
}

.pay_cont2 ul li {
    float: left;
    margin: 0 142px 80px 0;
}

.pay_cont3 {
    height: 782px;
    text-align: center;
    font-size: 16px;
    color: #999;
    font-weight: bold;
}

.pay_cont3 h2 {
    font-size: 35px;
    color: #333;
    margin: 50px 0 28px;
}

.pay_cont3 .pay_cont3_main {
    overflow: hidden;
    padding-top: 90px;
    height: 384px;
}

.pay_cont3 .pay_cont3_main ul {
    width: 1280px;
    overflow: hidden;
}

.pay_cont3 .pay_cont3_main ul li {
    float: left;
    margin: 0 32px 39px 0;
    width: 192px;
    height: 100px;
    border: 1px solid #dcdcdc;
}

.pay_cont3 .pay_cont3_title {
    padding: 40px 0 0 530px;
}

.pay_cont3 .pay_cont3_title ul li {
    float: left;
    margin-right: 14px;
    cursor: pointer;
}

.foot {
    width: 1100px;
    margin: 0 auto;
    font-size: 14px;
    color: #b2b2b2;
}

.foot ul {
    overflow: hidden;
    margin: 60px 0 16px 316px;
}

.foot ul li {
    float: left;
    margin-right: 10px;
    color: #fff;
}

.foot ul li.line {
    color: #b2b2b2;
}

.foot ul li a {
    color: #fff;
}

.foot ul li em {
    color: #ffa800;
}

/*订单查询*/
.order_tops {
    height: 218px;
}

/* background: #f5f5f5;*/
.order_top {
    width: 1110px;
    margin: 0 auto;
    font-size: 14px
}

.order_top .order_top1 {
    margin-left: 362px;
    height: 37px;
    position: relative;
}

.order_top .order_top1 ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.order_top .order_top1 ul li {
    float: left;
    width: 73px;
    margin-right: 27px;
    line-height: 36px;
    text-align: center;
    height: 36px;
    padding-left: 3px;
    overflow: hidden;
}

.order_top .order_top1 ul li.current {
    border-bottom: 1px solid #179ff1;
}

.order_top .order_top1 ul li.current a {
    color: #179ff1;
}

.order_top .order_top1 ul li.last {
    margin-right: 0;
}

.order_top .order_top1 .line {
    border-bottom: 1px solid #d2d2d2;
    position: absolute;
    width: 700px;
    bottom: 0px;
    left: 0;
    z-index: 1;
}

.order_top .order_top1 ul li a {
    color: #333;
    float: left;
}

.order_top .order_top1 ul li img {
    margin: 17px 3px 0 0;
    float: right;
}

.order_top .order_top1 ul li .order_topcontmain {
    position: absolute;
    top: 36px;
    left: -10px;
    width: 650px;
}

.order_top .order_top1 ul li .order_topcontmain a {
    padding: 0 16px;
    color: #999;
    display: inline-block;
}

.order_top .order_top1 ul li .order_topcontmain a.yellow {
    color: #ffa200;
}

.order_top .order_top1 ul li .order_topcont2 {
    left: 90px;
}

.order_top .order_top1 ul li .order_topcont3 {
    left: 190px;
}

.order_top .order_top1 ul li .order_topcont4 {
    left: 290px;
}

.order_top .order_top1 ul li .order_topcont5 {
    left: 400px;
}

.order_top .order_top1 ul li .order_topcont6 {
    left: 490px;
}

.order_top .order_top1 ul li .order_topcont7 {
    left: 330px;
}

.order_main {
    width: 1100px;
    margin: -128px auto 0;
    font-size: 14px;
    overflow: hidden;
}

.order_main .order_main_l {
    float: left;
    width: 162px;
    border: 1px solid #ECECEC;
    background: #fff;
    overflow: hidden;
}

.order_main .order_main_l ul li {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dashed #d2d2d2;
    text-align: center;
}

.order_main .order_main_l ul li a {
    color: #999;
    font-size: 16px;
}

.order_main .order_main_l ul li.last {
    border: 0;
}

.order_main .order_main_l ul li:last-child {
    border-bottom: 0px;
}

.order_main .order_main_l ul li.current a {
    color: #ffa200;
}

.order_main .order_main_r {
    width: 906px;
    float: right;
}

.order_main .order_main_r .order_main_top {
    width: 902px;
    border: 1px solid #ececec;
    background: #fff;
    padding: 18px 0 0 2px;
    overflow: hidden;
}

.order_main .order_main_r .order_main_top ul {
    height: 170px;
}

.order_main .order_main_r .order_main_top ul li {
    float: left;
    margin: 20px 0 0 0;
}

.order_main .order_main_r .order_main_top ul li span {
    float: left;
    width: 80px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    margin-right: 12px;
}

.order_main .order_main_r .order_main_top ul li input {
    float: left;
    width: 236px;
    height: 38px;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
    line-height: 38px;
    background: #fff;
    color: #999;
}

.order_main .order_main_r .order_main_top ul li em {
    float: left;
    line-height: 40px;
    padding: 0 10px;
}

.order_main .order_main_r .order_main_top ul li select {
    float: left;
    width: 113px;
    height: 40px;
    line-height: 10px;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
}

.order_main .order_main_r .order_main_top ul li.btn {
    position: relative;
}

.order_main .order_main_r .order_main_top ul li.btn img {
    position: absolute;
    right: 204px;
    top: 6px;
    cursor: pointer;
}

.order_main .order_main_r .order_main_top ul li.btn img.img_1 {
    right: 10px;
}

.order_main .order_main_r .order_main_top ul li.btn input {
    width: 153px;
    height: 40px;
    border: 1px solid #d2d2d2;
    line-height: 10px;
    text-align: left;
    color: #333;
}

.order_main .order_main_r .order_main_top ul li.inp1 input {
    width: 159px;
}

.order_main .order_main_r .order_main_top ul li.inp2 input {
    width: 56px;
}

.order_main .order_main_r .order_main_top .line {
    width: 841px;
    border-top: 1px solid #17A0F1;
    margin: 30px 0 0 24px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 45px;
}

.order_main .order_main_r .order_main_top .line button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.order_main .order_main_r .order_main_foot {
    width: 886px;
    background: #f5f5f5;
    margin: 30px 0 50px;
    padding: 0 9px;
}

.order_main_foot .order_main_foot_top {
    overflow: hidden;
    font-size: 16px;
}

.order_main_foot .order_main_foot_top .order_main_foot_top_l {
    float: left;
    margin-top: 46px;
}

.order_main_foot .order_main_foot_top .order_main_foot_top_l span {
    display: inline-block;
    width: 238px;
}

.order_main_foot .order_main_foot_top .order_main_foot_top_l span em {
    color: #ffc000;
    margin-left: 20px;
}

.order_main_foot .order_main_foot_top .order_main_foot_top_r {
    float: right;
    margin-top: 28px;
}

.order_main_foot .order_main_foot_top .order_main_foot_top_r button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.order_main_tabel {
    width: 886px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    margin-top: 30px;
}

.order_main_tabel .main_tabel {
    border-bottom: 1px solid #989898;
}

.order_main_tabel .main_tabel ul {
    width: 100%;
    min-height: 58px;
    border-bottom: 1px dashed #d3d3d3;
    line-height: 58px;
    overflow: hidden;
}

.order_main_tabel .main_tabel ul.main_tabel_title {
    background: #E0E0E0;
    border: 0;
    min-height: 50px;
    font-size: 16px;
    color: #333;
    line-height: 50px;
}

.order_main_tabel .main_tabel ul li {
    float: left;
    width: 168px;
    text-align: center;
    overflow: hidden;
    min-height: 58px;
}

.order_main_tabel .main_tabel ul li.li_1 {
    width: 100px;
}

.order_main_tabel .main_tabel ul li.li_2 {
    width: 70px;
}

.order_main_tabel .main_tabel ul li.li_3 {
    margin-left: 5px;
}

.order_main_tabel .main_tabel ul li.li_4 {
    width: 120px;
}

.order_main_tabel .main_tabel ul li em {
    color: #ffc000;
}

.order_main_tabel .main_tabel ul li a {
    color: #179ff1;
}

.order_main_tabel .main_tabel ul li b {
    margin: 0 8px;
}

.order_main_tabel .main_tabel ul.last {
    border: 0;
}

.order_main_tabel_bottom {
    margin: 40px 0 0 333px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}

/* 	.order_main_tabel_bottom span{margin-right: 35px;float: left;height: 36px;line-height: 36px;} */
.order_main_tabel_bottom span em {
    color: #ffc000;
}

.order_main_tabel_bottom ul {
    overflow: hidden;
    float: left;
}

.order_main_tabel_bottom ul li {
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #fff;
    margin-left: 5px;
    cursor: pointer;
}

.order_main_tabel_bottom ul li.current {
    background: #17A0F1;
    color: #fff;
}

.order_main_tabel_bottom ul li.none {
    background: #f5f5f5;
}

.button1 {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    margin-left: 300px;
    font-size: 16px;
    float: left;
}

/*商户中心*/
.commercial_main {
    width: 1100px;
    margin: -140px auto 0;
    font-size: 14px;
    overflow: hidden;
}

.commercial_main .commercial_main_t {
    width: 1100px;
    height: 155px;
    /*background: url(../img/banner_1.jpg) no-repeat;*/
    overflow: hidden;
    color: #333;
}

.commercial_main .commercial_main_t ul li {
    float: left;
    width: 138px;
    text-align: center;
    border-right: 1px solid #9C9E9D;
    height: 155px;
}

.commercial_main .commercial_main_t ul li img {
    display: block;
    margin: 30px 0 22px 48px;
    text-align: left;
}

.commercial_main .commercial_main_t ul li b {
    font-size: 18px;
}

.commercial_main .commercial_main_t ul li.user {
    width: 682px;
    overflow: hidden;
}

.commercial_main .commercial_main_t ul li.user img {
    float: left;
    margin: 0;
    margin: 20px 20px 0 20px;
}

.commercial_main .commercial_main_t ul li.user span {
    float: left;
    text-align: left;
    margin-top: 13px;
    font-size: 14px;
    color: #fff;
}

.commercial_main .commercial_main_t ul li.user a {
    float: right;
    margin: 80px 20px 0 0;
}

.commercial_main .commercial_main_t ul li.user span img {
    margin: 0;
    margin-right: 10px;
}

.commercial_main .commercial_main_t ul li.user span h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

.commercial_main .commercial_main_t ul li.user span p {
    width: 300px;
    line-height: 14px;
}

.commercial_main .commercial_main_t ul li.user span em {
    margin: 8px 0 0 27px;
}

.commercial_main .commercial_main_m {
    height: 300px;
    overflow: hidden;
    padding-top: 70px;
    font-size: 14px;
    color: #999;
}

.commercial_main .commercial_main_m ul {
    padding-left: 176px;
    width: 1200px;
    overflow: hidden;
}

.commercial_main .commercial_main_m .ull {
    padding-left: 326px;
    overflow: hidden;
}

.commercial_main .commercial_main_m ul li {
    float: left;
    margin-right: 230px;
    text-align: center;
}

.commercial_main .commercial_main_m ul li h3 {
    margin: 25px 0 10px;
    font-size: 20px;
    color: #666;
    font-weight: bold;
}

.commercial_main .commercial_main_m ul li em {
    color: #ffc000;
}

.commercial_main .commercial_main_m .title {
    margin-top: 50px;
    text-align: center;
}

.commercial_main .commercial_main_m .title span {
    font-size: 16px;
    color: #999;
    margin-right: 10px;
}

.commercial_main .commercial_main_m .title img {
    margin-top: -4px;
}

.commercial_main2s {
    width: 100%;
    background: #f5f5f5;
}

.commercial_main2 {
    width: 1100px;
    margin: 0 auto;
}

.commercial_main2 .commercial_main2_t {
    text-align: center;
    padding: 50px 0 40px;
}

.commercial_main2 .commercial_main2_t h2 {
    font-size: 35px;
    color: #333;
}

.commercial_main2 .commercial_main2_t .title {
    margin-top: 38px;
}

.commercial_main2 .commercial_main2_t .title span {
    font-size: 16px;
    color: #999;
    margin-right: 10px;
}

.commercial_main2 .commercial_main2_t .title img {
    margin-top: -4px;
}

.commercial_main_tabel {
    width: 1100px;
    height: 575px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}

.commercial_main_tabel .main_tabel {
    border-bottom: 1px solid #989898;
}

.commercial_main_tabel .main_tabel ul {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px dashed #d3d3d3;
    line-height: 50px;
    overflow: hidden;
}

.commercial_main_tabel .main_tabel ul.main_tabel_title {
    background: #E0E0E0;
    border: 0;
    font-size: 16px;
    color: #333;
}

.commercial_main_tabel .main_tabel li {
    float: left;
    width: 200px;
    text-align: center;
    overflow: hidden;
    min-height: 50px;
}

.commercial_main_tabel .main_tabel li.li_1 {
    width: 455px;
}

.commercial_main_tabel .main_tabel li.li_2 {
    width: 160px;
}

.commercial_main_tabel .main_tabel li.li_3 {
    width: 125px;
}

.commercial_main_tabel .main_tabel ul li em {
    color: #ffc000;
}

.commercial_main_tabel .main_tabel ul li a {
    color: #179ff1;
}

.commercial_main_tabel .main_tabel ul li b {
    margin: 0 8px;
}

.commercial_main_tabel .main_tabel ul.last {
    border: 0;
}

.ull li a h3:hover {
    color: white;
    background: #306fa5;
    padding: 2px 2px;
    border-radius: 2px;

}

.Accounts span:hover {
    color: red;
}

/*登录页*/
#page.id_page {
    padding-bottom: 0;
    position: absolute;
    left: 0;
    top: 51px;
    right: 0;
    bottom: 100px;
    overflow: hidden;
}

.land_banners {
    position: absolute;
    height: 100%;
    width: 100%;
}

.land_banners .banner_img {
    width: 100%;
    height: 100%;
}

.id_page .pay_banner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -555px;
    margin-top: -184px;
    padding-top: 0;
}

.id_page .land_pic {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -555px;
    margin-top: -184px;
}

.id_page .land_pic img {
    width: 90%;
    height: 90%;
}

#footer.footer2 {
    height: 100px;
}

.foot2 ul {
    margin: 30px 0 10px 343px;
}

/*关于我们*/
.commercial_main .ours_main_t {
    /*background: url(../images/banner_ours.png) no-repeat;*/
}

.ours_main_cont {
    font-size: 14px;
    color: #333;
    margin-top: 40px;
}

.ours_main_cont p {
    margin-bottom: 30px;
    line-height: 32px;
}

/*实名认证*/
.real_main_r {
    width: 872px;
    height: 294px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    padding: 20px 0 0 30px;
    font-size: 14px;
    color: #999;
}

.real_main_r p {
    color: #179ff1;
}

.real_main_r_tabel {
    width: 848px;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    border-top: 1px solid #179ff1;
    padding-top: 31px;
    margin-top: 17px;
}

.real_main_r_tabel .main_tabel ul {
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.real_main_r_tabel .main_tabel ul.main_tabel_title {
    background: #E0E0E0;
    border: 0;
    font-size: 16px;
    color: #333;
}

.real_main_r_tabel .main_tabel li {
    float: left;
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.real_main_r_tabel .main_tabel li.li_1 {
    width: 188px;
}

.real_main_r_tabel .main_tabel li.li_2 {
    width: 130px;
}

.real_main_r_tabel .main_tabel ul li em {
    color: #ffc000;
}

.real_main_r_tabel .main_tabel ul li a {
    color: #179ff1;
}

.real_main_r_tabel .main_tabel ul li b {
    margin: 0 8px;
}

.real_main_r .btn {
    margin-top: 50px;
    text-align: center;
}

.real_main_r .btn button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/*实名认证2*/
.real2_main_r {
    width: 872px;
    height: 736px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    padding: 22px 0 0 30px;
    font-size: 14px;
    color: #999;
    margin-bottom: 110px;
}

.real2_main_r p {
    color: #179ff1;
}

.real2_main_r .real2_cont {
    margin-top: 18px;
    border-top: 1px solid #179ff1;
    width: 848px;
}

.real2_cont .real2_cont_list {
    overflow: hidden;
    font-size: 16px;
    color: #333;
    padding: 16px 0 0 85px;
    width: 1100px;
}

.real2_cont .real2_cont_list span {
    float: left;
}

.real2_cont .real2_cont_list .basic_enter {
    float: left;
    overflow: hidden;
}

.real2_cont .real2_cont_list .basic_enter .radio_box {
    float: left;
    cursor: pointer;
    margin-right: 82px;
}

.real2_cont .real2_cont_list .basic_enter .radio_box .radio {
    width: 16px;
    height: 16px;
    /*background: url(../img/yuan.png) no-repeat;*/
    float: left;
    margin: 3px 8px 0 0;
}

.real2_cont .real2_cont_list .basic_enter .radio_box .current {
    /*background: url(../img/chose.png) no-repeat;*/
}

.real2_cont .real2_cont_list .basic_enter .radio_box label {
    float: left;
    cursor: pointer;
}

.real2_cont .real2_cont_main {
    overflow: hidden;
    margin: 30px 0 0 155px;
}

.real2_cont .real2_cont_main ul li {
    margin-bottom: 14px;
    overflow: hidden;
}

.real2_cont .real2_cont_main ul li span {
    float: left;
    width: 130px;
    text-align: right;
    height: 40px;
    line-height: 40px;
}

/*下拉菜单*/
.mimicSelect {
    position: relative;
    width: 130px;
    font-size: 14px;
    float: left;
}

.mimicSelect .selectBox {
    width: 130px;
    height: 40px;
    overflow: hidden;
}

.mimicSelect .selectBox .optionDiv {
    float: left;
    width: 83px;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    overflow: hidden;
    color: #333;
    border: 1px solid #d2d2d2;
}

.mimicSelect .selectBox .xiala {
    float: left;
    width: 20px;
    height: 38px;
}

.mimicSelect .selectBox .xiala img {
    cursor: pointer;
}

.mimicSelect .xialaCont {
    position: absolute;
    right: 10px;
    top: 37px;
    z-index: 2;
    margin-top: 2px;
    border: 1px solid #d8d8d8;
    background: #FFF;
    overflow: auto;
    width: 118px;
    display: none;
    height: 120px;
}

.mimicSelect .xialaCont p {
    line-height: 22px;
    padding-left: 20px;
    line-height: 40px;
    cursor: pointer;
}

.real2_cont .real2_cont_main ul li input {
    width: 289px;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border: 1px solid #d2d2d2;
    float: left;
}

.real2_cont .real2_cont_main ul li.gray input {
    background: #d2d2d2;
    height: 40px;
    width: 306px;
}

.real2_cont .real2_cont_main .real2_btn {
    margin: 54px 0 0 45px;
    overflow: hidden;
}

.real2_cont .real2_cont_main .real2_btn button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 48px;
}

.real2_cont .real2_cont_main .real2_btn button.button {
    background: #95CFF0;
}

.real2_cont .real2_cont_main2 ul li button {
    width: 80px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-left: 15px;
}

/*消息*/
.news {
    margin: -186px auto 70px;
    width: 1100px;
}

.news .news_conts {
    height: 725px;
    border: 1px solid #d2d2d2;
    padding: 20px 122px 0;
    width: 854px;
    background: #fff;
}

.news .news_conts .news_cont {
    border-bottom: 1px dashed #d3d3d3;
    padding: 17px 0;
}

.news .news_conts .news_cont .news_cont_t {
    overflow: hidden;
    font-size: 14px;
    color: #999;
}

.news .news_conts .news_cont .news_cont_t img {
    float: left;
    margin: 0 14px;
}

.news .news_conts .news_cont .news_cont_t span {
    float: left;
}

.news .news_conts .news_cont .news_cont_t em {
    float: right;
}

.news .news_conts .news_cont .news_cont_b {
    width: 843px;
    height: 150px;
    /*background: url(../img/san.png) no-repeat;*/
    margin-top: 8px;
    padding: 35px 0 0 20px;
    color: #999;
}

.news .news_conts .current .news_cont_t {
    color: #333;
}

.news .news_conts .current .news_cont_t img {
    margin-top: 3px;
}

.news .news_bottom {
    margin-left: 587px;
}

.news_bottom ul li {
    background: #f5f5f5;
}

/*支付密码  border: 1px solid #ECECEC;*/
.password_main_r {
    width: 904px;
    height: 545px;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    font-size: 14px;
    color: #999;
}

.password_main_r ul {
    margin: 14px 0 0 211px;
    height: 148px;
}

.password_main_r ul li {
    margin-bottom: 14px;
}

.password_main_r ul li img {
    margin-right: 8px;
}

.password_main_r ul li input {
    width: 289px;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border: 1px solid #d2d2d2;
}

.password_main_r ul li a {
    color: #4f76d9;
    margin-left: 16px;
}

.password_main_r .password_btn {
    margin: 4px 0 0 227px;
    overflow: hidden;
}

.password_main_r .password_btn button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 48px;
}

.password_main_r .password_btn button.button {
    background: #95CFF0;
}

.password_main_r .password_btn div.button {
    width: 200px;
    height: 40px;
    background: #95CFF0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 48px;
    text-align: center;
    line-height: 40px;
}

.password2_main_r ul {
    margin-left: 170px;
}

.password2_main_r ul li span {
    width: 150px;
    text-align: right;
    float: left;
    height: 40px;
    line-height: 40px;
}

.password2_main_r ul li.none {
    height: 40px;
    line-height: 40px;
    color: #333;
}

.password2_main_r ul li.none span {
    color: #999;
}

.password2_main_r ul li.yzm input {
    width: 167px;
    float: left;
}

.password2_main_r ul li.yzm div {
    width: 111px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-left: 12px;
}

.password3_main_r .password_btn {
    margin-top: 128px;
}

/*绑定手机*/
.phone_main_r {
    width: 904px;
    height: 170px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    font-size: 14px;
    color: #fc6764;
}

.phone_main_r p {
    padding: 34px 30px 0;
}

/*安全中心*/
.security_main {
    width: 1100px;
    margin: -144px auto 0px;
    font-size: 14px;
    overflow: hidden;
}

.security_main .security_main_t {
    /*background: url(../img/password_bg.png) no-repeat;*/
    width: 1100px;
    height: 584px;
}

.security_main_top {
    overflow: hidden;
}

.security_main_top .security_main_top_l {
    float: left;
    text-align: center;
    padding: 20px 0 0 500px;
}

.security_main_top .security_main_top_l img {
    display: block;
}

.security_main_top .security_main_top_l h3 {
    font-size: 20px;
    color: #333;
    margin-top: 13px;
}

.security_main_top .security_main_top_r {
    float: right;
    padding: 143px 115px 0 0;
}

.security_main_top .security_main_top_r img {
    margin-top: -4px;
}

.security_main_top .security_main_top_r a {
    font-size: 14px;
    color: #4f76d9;
}

.security_main_bottom {
    overflow: hidden;
    margin: 10px 125px 0;
}

.security_main_bottom ul li {
    border-bottom: 1px dashed #d3d3d3;
    height: 46px;
    line-height: 46px;
    padding-left: 23px;
    font-size: 14px;
    color: #999;
}

.security_main_b {
    overflow: hidden;
    padding: 80px 0 0 0;
    margin-bottom: 110px;
}

.security_main_b ul {
    margin-left: 120px;
    width: 1100px;
    overflow: hidden;
}

.security_main_b ul li {
    float: left;
    font-size: 14px;
    color: #999;
    width: 188px;
    margin-right: 150px;
}

.security_main_b ul li img {
    display: block;
    margin-left: 55px;
}

.security_main_b ul li h3 {
    font-size: 20px;
    color: #333;
    margin: 20px 0 8px;
    text-align: center;
}

.security_main_b ul li span {
    display: block;
    margin-bottom: 13px;
    text-align: left;
}

.security_main_b ul li span img {
    display: inline-block;
    margin: -2px 8px 0 27px;
}

.security_main_b ul li span a {
    color: #4f76d9;
    margin-left: 17px;
}

.security_main_b ul li p {
    text-align: center;
}

/*遮罩层*/
#bg {
    background-color: #000;
    position: absolute;
    z-index: 99;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    filter: alpha(opacity=35);
    color: #333;
}

.selest {
    width: 546px;
    height: 444px;
    position: fixed;
    top: 50%;
    margin-top: -222px;
    left: 50%;
    margin-left: -300px;
    background: #FFF;
    z-index: 199;
    padding-left: 54px;
}

.selest .logo {
    margin: 42px 0 28px;
}

.selest span {
    font-size: 21px;
}

.selest span em {
    font-size: 24px;
    color: #179ff1;
    margin-right: 30px;
}

.selest p {
    font-size: 18px;
    margin: 98px 0 95px;
}

.selest button {
    width: 200px;
    height: 40px;
    background: #179ff1;
    color: #fff;
    cursor: pointer;
    float: left;
    margin-left: 146px;
}

/*充值查询*/
.order_main .order_main_r .recharge_main_top {
    height: 264px;
}

.order_main .order_main_r .order_main_top ul li.inp3 input {
    width: 108px;
}

.marker {
    width: 600px;
    height: 380px;
    position: fixed;
    top: 50%;
    margin-top: -190px;
    left: 50%;
    margin-left: -300px;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 199;
    color: #333;
}

.marker .marker_t {
    text-align: center;
    height: 64px;
    border-bottom: 1px solid #dadada;
    line-height: 64px;
    font-size: 20px;
}

.marker .marker_m {
}

.marker .marker_m p {
    margin: 20px 0 24px 50px;
    font-size: 12px;
}

.marker .marker_m p img {
    margin: -3px 5px 0 0;
}

.marker .marker_m textarea {
    border: 0;
    margin: 0 50px;
    min-height: 116px;
    background: #faf9f6;
    width: 456px;
    border: 1px solid #dedede;
    padding: 20px;
    height: 116px;
}

.marker .marker_b {
    margin: 20px 0 0 120px;
}

.marker .marker_b button {
    width: 158px;
    height: 44px;
    background: #fff;
    color: #333;
    cursor: pointer;
    margin-right: 30px;
    border: 1px solid #e5e5e4;
    font-size: 18px;
}

.marker .marker_b button.btn {
    width: 160px;
    height: 44px;
    background: #179FF1;
    color: #fff;
    border: 0;
}

/*新增转账*/
.wyzz_more_main_r {
    margin: auto;
    width: 500px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    margin-bottom: 80px;
    padding: 40px 40px;
}

/*订单查询详情*/
.order_more_main_r {
    width: 824px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #333;
    margin-bottom: 80px;
    padding: 0 40px;
}

.order_more_main_r .order_more_t {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #dcdcdc;
}

.order_more_main_r .order_more_m {
    padding: 30px 0 0 162px;
    position: relative;
}

.order_more_main_r .order_more_m img {
    position: absolute;
    top: 23px;
    left: 116px;
}

.order_more_main_r .order_more_m ul {
    width: 500px;
    height: 457px;
    /* 	background: #f6f6f6; */
    overflow: hidden;
}

.order_more_main_r .order_more_m ul li {
    margin-top: 10px;
}

.order_more_main_r .order_more_m ul li span {
    width: 185px;
    text-align: right;
}

.order_more_main_r .order_more_b {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.order_more_main_r .order_more_b button {
    width: 200px;
    height: 40px;
    background: #179ff1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

/*账务明细*/
.accounting_main_cont {
    width: 844px;
    height: 168px;
    border: 1px solid #ECECEC;
    background: #FFF none repeat scroll 0% 0%;
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    padding: 0 30px;
}

.accounting_main_cont .accounting_main_cont_t {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #179ff1;
    overflow: hidden;
    padding-left: 6px;
}

.accounting_main_cont .accounting_main_cont_t ul li {
    float: left;
    margin-right: 36px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.accounting_main_cont .accounting_main_cont_t ul li.current {
    color: #179ff1;
}

.accounting_main_cont .accounting_main_cont_m {
    overflow: hidden;
    padding-top: 25px;
}

.accounting_main_cont .accounting_main_cont_m ul li {
    float: left;
    text-align: center;
    width: 168px;
    font-size: 14px;
}

.accounting_main_cont .accounting_main_cont_m ul li p {
    color: #ffa200;
    font-size: 20px;
    margin-top: 15px;
}

/* 	.order_main .order_main_r .accounting_main_top{height: 206px;} */
.accounting_main_foot {
    margin: 30px 0 50px;
    width: 906px;
    background: #f7f7f7;
}

.accounting_main_foot .main_tabel ul.main_tabel_title {
    min-height: 50px;
    line-height: 50px;
    border: 0;
    background: #E0E0E0;
    margin: 0;
    padding: 0 30px;
    font-size: 16px;
    color: #333;
}

.accounting_main_foot .main_tabel ul {
    min-height: 57px;
    line-height: 57px;
    border-bottom: 1px dashed #d3d3d3;
    margin: 0 30px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    width: 846px;
}

.accounting_main_foot .main_tabel ul li {
    float: left;
    width: 77px;
    text-align: center;
}

.accounting_main_foot .main_tabel ul li.li_1 {
    width: 200px;
}

.accounting_main_foot .main_tabel ul li.li_2 {
    width: 142px;
}

.accounting_main_foot .main_tabel ul li em {
    color: #ffae00;
}

.accounting_main_foot .main_tabel ul.last {
    border-bottom: 1px solid #989898;
}

.accounting_main_foot .main_tabel ul.last li {
    border: 0;
}

.accounting_main_tabel_bottom {
    margin-left: 30px;
}

.accounting_main_tabel_bottom .accounting_main_tabel_btn {
    float: left;
    margin-right: 142px;
}

.accounting_main_tabel_bottom .accounting_main_tabel_btn button {
    width: 200px;
    height: 40px;
    background: #17A0F1 none repeat scroll 0% 0%;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}

/*转账查询*/
.order_main .order_main_r .transfer_main_top {
    height: 264px;
}

.transfer_main_tabel .main_tabel ul li.li_1 {
    width: 150px;
}

.transfer_main_tabel .main_tabel ul li.li_2 {
    width: 126px;
}

/*退款申请*/
.order_main .apply_main_l {
    height: 167px;
}

/* 	.apply_main_r{height: 788px;} */
.apply_main_r .apply_more_m {
    margin-bottom: 40px;
}

.apply_cont {
    padding: 40px 0 0 162px;
}

.apply_cont .apply_cont_t {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.apply_cont .apply_cont_t input {
    width: 308px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #d2d2d2;
    margin: 0 12px;
}

.apply_cont .apply_cont_t select {
    width: 320px;
    height: 38px;
    line-height: 38px;
    padding-left: 8px;
    border: 1px solid #d2d2d2;
    margin: 0 4px;
}

.apply_cont .apply_cont_m {
    margin: 30px 0 0 15px;
    overflow: hidden;
}

.apply_cont .apply_cont_m button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    margin-right: 60px;
    font-size: 16px;
    float: left;
}

.apply_cont .apply_cont_m button.btn {
    background: #4ab2f0;
}

/*申请退款-弹出框*/
.alert {
    width: 460px;
    height: 240px;
    position: fixed;
    top: 50%;
    margin-top: -120px;
    left: 50%;
    margin-left: -230px;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 199;
    color: #333;
}

.alert h2 {
    font-size: 24px;
    text-align: center;
    margin: 70px 0 60px;
}

.alert .alert_btn {
    margin-left: 54px;
}

.alert .alert_btn button {
    width: 160px;
    height: 46px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    font-size: 18px;
    float: left;
}

.alert .alert_btn button.btn {
    background: #4ab2f0;
}

.alert_2 {
    width: 460px;
    height: 240px;
    position: fixed;
    top: 50%;
    margin-top: -120px;
    left: 50%;
    margin-left: -230px;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 199;
    color: #333;
    font-size: 24px;
}

.alert_2 .alert_2_t {
    padding: 64px 0 56px 122px;
}

.alert_2 .alert_2_t img {
    margin: -5px 10px 0 0;
}

.alert_2 .alert_2_btn {
    text-align: center;
}

.alert_2 .alert_2_btn button {
    width: 160px;
    height: 46px;
    background: #4ab2f0;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    font-size: 18px;
}

/*退款复核*/
.review_cont {
    padding: 40px 0 0 32px;
}

.review_cont .review_cont_t {
    overflow: hidden;
}

.review_cont .review_cont_t span {
    float: left;
}

.review_cont .review_cont_t textarea {
    float: left;
    border: 0;
    margin-left: 10px;
    min-height: 58px;
    background: #faf9f6;
    width: 584px;
    border: 1px solid #dedede;
    padding: 10px;
    height: 58px;
}

.review_cont .review_cont_m {
    margin: 30px 0 0 0px;
    overflow: hidden;
}

.review_cont .review_cont_m button {
    width: 200px;
    height: 40px;
    background: #f4f4f4;
    color: #333;
    cursor: pointer;
    margin-right: 40px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    float: left;
}

.review_cont .review_cont_m button.btn {
    border: 0;
    background: #17A0F1;
    color: #fff;
}

/*创建管理员角色*/
.order_main .operator_main_l {
    height: 223px;
}

.order_more_main_r .operator_more_t {
    color: #999;
}

.operator_cont {
    padding-top: 30px;
    font-size: 16px;
    color: #333;
}

.operator_cont ul {
    overflow: hidden;
}

.operator_cont ul li {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.operator_cont ul li span {
    width: 206px;
    text-align: right;
}

.operator_cont ul li span img {
    margin-right: 6px;
}

.operator_cont ul li input {
    width: 188px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
    color: #999;
    margin: 0 10px;
    font-size: 16px;
}

.operator_cont ul li em {
    font-size: 12px;
    color: #999;
}

.operator_cont button {
    width: 142px;
    height: 40px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0 0 105px;
}

/*创建角色*/
.role_main_r {
    width: 846px;
    background: #FFF;
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #333;
    margin-bottom: 50px;
    padding: 0px 30px;
}

.role_main_r .role_main_r_t {
    margin: 30px 0;
}

.role_main_r .role_main_r_t button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.role_main_tabel .main_tabel ul.main_tabel_title {
    min-height: 50px;
    line-height: 50px;
    border: 0;
    background: #E0E0E0;
    font-size: 16px;
    color: #333;
}

.role_main_tabel .main_tabel ul {
    min-height: 57px;
    line-height: 57px;
    border-bottom: 1px dashed #d3d3d3;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #999;
    width: 846px;
}

.role_main_tabel .main_tabel ul li {
    float: left;
    width: 130px;
    text-align: center;
}

.role_main_tabel .main_tabel ul li.li_1 {
    width: 120px;
}

/* 238px*/
.role_main_tabel .main_tabel ul.last {
    border-bottom: 1px solid #989898;
}

.role_main_tabel .main_tabel ul.last li {
    border: 0;
}

.role_main_tabel .main_tabel ul li a {
    color: #179ff1;
}

.role_main_tabel .main_tabel ul li b {
    margin: 0 8px;
}

.modifer {
    width: 600px;
    height: 380px;
    position: fixed;
    top: 50%;
    margin-top: -190px;
    left: 50%;
    margin-left: -300px;
    background: #FFF;
    z-index: 199;
    font-size: 18px;
}

.modifer .modifer_t {
    margin-top: 50px;
}

.modifer .modifer_t ul li {
    width: 600px;
}

.modifer .modifer_t ul li span {
    width: 172px;
    text-align: right;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
    float: left;
}

.modifer .modifer_t ul li input {
    width: 303px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    float: left;
    padding-left: 15px;
}

.modifer .modifer_t ul li em {
    font-size: 12px;
    color: #ffa200;
    margin: 6px 0 25px 182px;
}

.mimicSelect .selectBox .optionDiv_modif {
    width: 203px;
    font-size: 16px;
}

.mimicSelect .xialaCont_modif {
    padding: 0;
    width: 238px;
    right: 66px;
    height: 162px;
}

.mimicSelect .xialaCont_modif p {
    line-height: 40px;
    padding-left: 20px;
}

.modifer .modifer_m {
    margin: 120px 0 0 120px;
}

.modifer .modifer_m button {
    width: 200px;
    height: 40px;
    background: #f4f4f4;
    color: #333;
    cursor: pointer;
    margin-right: 30px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    float: left;
}

.modifer .modifer_m button.btn {
    border: 0;
    background: #17A0F1;
    color: #fff;
}

/*接口密匙管理*/
.interface_main_r3 {
    width: 904px;
    height: 208px;
    background: #FFF;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin: auto;
    font-size: 16px;
    color: #333;
    border: 1px solid #ECECEC;
    text-align: center;
}

.interface_main_r3 span {
    font-size: 20px;
    color: #666;
    margin: 70px 0 15px;
}

.interface_main_r3 span em {
    color: #333;
}

.interface_main_r3 p {
    font-size: 14px;
    color: #ffa200;
}

.interface_main_r {
    width: 904px;
    height: 408px;
    background: #FFF;
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #333;
    border: 1px solid #ECECEC;
    text-align: center;
}

.interface_main_r span {
    font-size: 20px;
    color: #666;
    margin: 70px 0 15px;
}

.interface_main_r span em {
    color: #333;
}

.interface_main_r p {
    font-size: 14px;
    color: #ffa200;
}

.interface_main_r button {
    width: 200px;
    height: 40px;
    background: #17A0F1;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}

.interface_main_r2 {
    width: 734px;
    height: 328px;
    background: #FFF;
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #333;
    border: 1px solid #ECECEC;
    font-size: 20px;
    color: #333;
    padding: 80px 0 0 170px;
    overflow: hidden;
}

.interface_main_r2 img {
    margin: 10px 6px 0 0;
    float: left;
}

.interface_main_r2 span {
    float: left;
    line-height: 38px;
}

.interface_main_r2 em {
    color: #179ff1;
}

/*404*/
.id_page .pic404_l {
    position: absolute;
    left: 50%;
    margin-left: -270px;
    margin-top: -135px;
    top: 50%;
}

.id_page .picerror_l {
    top: 62%;
}

/* 	.id_page .pic404_l img{width: 68%;height: 68%;} */
.id_page .pic404_r {
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 10px;
}

/* 	.id_page .pic404_r img{width: 60%;height: 60%;} */
.id_page .cont_404 {
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 18px;
    color: #179ff0;
    margin-left: -174px;
}

.id_page .cont_404 button {
    width: 126px;
    height: 40px;
    background: #179ff0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 12px;
    cursor: pointer;
}

/*忘记密码*/
.password {
    width: 1100px;
    margin: 0 auto;
    font-size: 14px;
}

.password .password_t {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    font-size: 21px;
}

.password .password_t img {
    margin: -5px 15px 0 0;
}

.password .password_m {
    overflow: hidden;
    margin: 30px 0 9px 120px;
}

.password .password_m ul li {
    float: left;
    width: 235px;
    height: 50px;
    /*background: url(../img/un-pitch.png);*/
    line-height: 50px;
    text-align: center;
    color: #999;
}

.password .password_m ul li.li_pic_1 {
    /*background: url(../img/pitch.png);*/
    color: #fff;
}

.password .password_m ul li.li_pic_2 {
    margin-left: -28px;
}

.password .password_m ul li.li_pic_3 {
    margin-left: -29px;
}

.password .password_m ul li.li_pic_4 {
    margin-left: -30px;
}

.password .password_m ul li.current {
    /*background: url(../img/pitch2.png);*/
    color: #fff;
}

.password .password_b {
    position: relative;
}

.password .password_b ul {
    margin-bottom: 9px;
}

.password .password_b ul li {
    margin-top: 38px;
    height: 40px;
    line-height: 40px;
    color: #999;
    overflow: hidden;
}

.password .password_b ul li span {
    width: 406px;
    text-align: right;
    margin-right: 8px;
    float: left;
}

.password .password_b ul li input {
    width: 289px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d3d3d3;
    padding-left: 15px;
    font-size: 16px;
    float: left;
}

.password .password_b ul li img {
    width: 123px;
    height: 40px;
    margin: 0 14px 0 23px;
    float: left;
}

.password .password_b ul li a {
    font-size: 12px;
    color: #4f76d9;
    float: left;
}

.password .password_b b {
    margin: 0px 0px 0px 422px;
    font-size: 12px;
    color: #FF6E04;
    padding-top: 9px;
}

.password .password_b b.password_list {
    position: absolute;
    top: 38px;
    left: 0px;
}

.password .password_btn {
    margin-top: 72px;
    text-align: center;
}

.password .password_btn button {
    width: 200px;
    height: 40px;
    background: #16A0F1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.password .password_b ul li button {
    width: 111px;
    height: 40px;
    background: #16A0F1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 12px;
    float: left;
}

.password .password_b ul li button.yzm1 {
    background: #D2D2D2;
}

.password .password_b ul li button.yzm2 {
    background: #83C8ED;
}

.password4_b {
    height: 188px;
    line-height: 188px;
    text-align: center;
    font-size: 20px;
}

.password4_b img {
    margin: -5px 24px 0 0;
}

/*系统公告*/
.stystem {
    margin-top: 0;
}

.stystem .stystem_conts {
    width: 856px;
    padding: 0 24px;
}

.stystem .stystem_bottom {
    margin-left: 402px;
}

.order_top .stystem_topcont {
    width: 585px;
    margin-left: 310px;
}

.order_main .stystem_2 {
    border: 1px solid #ececec;
    background: #FFF none repeat scroll 0% 0%;
    padding: 0 24px;
    width: 856px;
    height: 458px;
}

.stystem_2 .stystem_2_t {
    overflow: hidden;
}

.stystem_2 .stystem_2_t span {
    font-size: 20px;
    float: left;
    margin: 18px 0 0 410px;
}

.stystem_2 .stystem_2_t img {
    float: left;
    margin: 22px 0 0 280px;
}

.stystem_2 .stystem_2_t a {
    float: left;
    color: #4f76d9;
    font-size: 14px;
    margin: 22px 0 0 8px;
}

.stystem_2 .stystem_2_m {
    margin-top: 22px;
}

.stystem_2 .stystem_2_m ul li {
    height: 53px;
    line-height: 53px;
    border-bottom: 1px dashed #d2d2d2;
    padding-left: 21px;
    font-size: 14px;
    color: #333;
}

.stystem_2 .stystem_2_m ul li span {
    color: #333;
    width: 80px;
    text-align: right;
}

.stystem_2 .stystem_2_t a.stystem_3 {
    margin: 28px 0 0 338px;
}

.stystem_2 .stystem_2_m ul li input {
    width: 300px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d1d1d1;
    padding-left: 15px;
    font-size: 14px;
    color: #999;
}

.news .news_conts .news_cont .stystem_cont_b {
    width: 838px;
}

/*提现*/
.cash {
    width: 1050px;
    border: 1px solid #ececec;
    margin: -144px auto 50px;
    background: #fff;
    padding: 0 24px;
}

.cash .cash_t {
    overflow: hidden;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
    padding: 0 28px;
    border-bottom: 1px solid #999;
}

.cash .cash_t ul li {
    float: left;
    margin-right: 52px;
}

.cash .cash_t ul li em {
    font-size: 26px;
    color: #ffae00;
}

.cash .cash_t ul li.last {
    float: right;
    margin-right: 0;
}

.cash .cash_t ul li.last a {
    font-size: 14px;
    color: #4f76d9;
}

.cash .cash_m {
    font-size: 14px;
    padding: 5px 0 0 176px;
}

.cash .cash_m ul li {
    height: 40px;
    line-height: 40px;
    margin-top: 33px;
    overflow: hidden;
}

.cash .cash_m ul li span {
    width: 85px;
    text-align: right;
    float: left;
    margin-right: 8px;
}

.cash .cash_m ul li em {
    width: 588px;
    height: 38px;
    border: 1px solid #d2d2d2;
    float: left;
    line-height: 38px;
}

.cash .cash_m ul li em img.pic_1 {
    margin: 0 18px 0 16px;
}

.cash .cash_m ul li em i {
    margin: 0 12px 0 6px;
}

.cash .cash_m ul li em img.pic_2 {
    margin: 0 15px 0 70px;
}

.cash .cash_m ul li em b {
    color: #999;
}

.cash .cash_m ul li input {
    width: 303px;
    height: 38px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    margin: 0 12px 0 0;
    padding-left: 15px;
    vertical-align: inherit;
}

.cash .cash_m ul li .basic_enter {
    float: left;
    overflow: hidden;
}

.cash .cash_m ul li .basic_enter .radio_box {
    float: left;
    cursor: pointer;
    margin-right: 82px;
}

.cash .cash_m ul li .basic_enter .radio_box .radio {
    width: 16px;
    height: 16px;
    /*background: url(../img/yuan.png) no-repeat;*/
    float: left;
    margin: 13px 8px 0 0;
}

.cash .cash_m ul li .basic_enter .radio_box .current {
    /*background: url(../img/chose.png) no-repeat;*/
}

.cash .cash_m ul li .basic_enter .radio_box strong {
    float: left;
    cursor: pointer;
}

.cash .cash_m ul li .basic_enter .radio_box strong b {
    color: #999;
}

.cash .cash_b {
    margin: 90px 0;
    text-align: center;
}

.cash .cash_b button {
    width: 200px;
    height: 40px;
    background: #16A0F1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.cash .cash_top {
    height: 60px;
    font-size: 12px;
    border-bottom: 1px solid #d3d3d3;
    line-height: 60px;
    color: #999;
}

.cash .cash_cont {
    overflow: hidden;
    font-size: 14px;
}

.cash .cash_cont ul li {
    height: 40px;
    line-height: 40px;
    margin-top: 36px;
}

.cash .cash_cont ul li span {
    width: 240px;
    text-align: right;
    margin-right: 12px;
}

.cash .cash_cont ul li img {
    margin: 0 5px 0 58px;
}

.cash .cash_cont ul li em {
    font-size: 24px;
    color: #ffae00;
}

.cash .cash_cont ul li input {
    width: 303px;
    height: 38px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    margin: 0 12px 0 0;
    padding-left: 15px;
    vertical-align: inherit;
}

.cash .cash_cont b {
    margin: 9px 0 0 252px;
    font-size: 12px;
    color: #ff6e04;
}

.cash .cash_btn {
    margin: 86px 0 86px 296px;
    overflow: hidden;
}

.cash .cash_btn button {
    width: 200px;
    height: 40px;
    background: #16A0F1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 60px;
    float: left;
}

.cash .cash_btn button.btn {
    background: #4AB3EF;
}

.cash .cash2_t {
    text-align: center;
    margin: 76px 0;
    font-size: 21px;
    color: #333;
}

.cash .cash2_t img {
    margin: -3px 26px 0 0;
}

.cash .cash2_cont {
    margin: 0 0 126px 140px;
    overflow: hidden;
}

.cash .cash2_cont ul {
    width: 1280px;
    overflow: hidden;
}

.cash .cash2_cont ul li {
    float: left;
    margin-right: 200px;
}

.cash .cash2_cont ul li a {
    font-size: 18px;
    color: #179ff1;
}

/*转账*/
.cash .accont_cont {
    position: relative;
}

.cash .accont_cont ul li em {
    font-size: 14px;
    color: #ffae00;
}

.cash .accont_cont b.accont_list {
    position: absolute;
    top: 220px;
    left: 0px;
}

.cash .accont_b {
    margin-left: -40px;
}

/*团队介绍*/
.commercial_main .ours_main_t2 {
    /*background: url(../img/banner_ours2.png) no-repeat;*/
}

.ours_main_cont2 {
    padding: 56px 34px 0 34px;
}

.ours_main_cont2 ul li {
    overflow: hidden;
    margin-bottom: 51px;
}

.ours_main_cont2 ul li span {
    float: left;
    width: 166px;
    height: 166px;
    background: #f5f5f5;
    border-radius: 83px;
    text-align: center;
    font-size: 16px;
}

.ours_main_cont2 ul li span h4 {
    font-size: 24px;
    color: #179ff1;
    margin: 50px 0 8px;
}

.ours_main_cont2 ul li p {
    float: left;
    margin-left: 40px;
    width: 826px;
    font-size: 14px;
    line-height: 28px;
    margin-top: 14px;
}

.ours_main_cont2 ul li p.list_2 {
    margin-top: 44px;
}

.ours_main_cont2 ul li p.list_3 {
    margin-top: 28px;
}

/*联系我们*/
.commercial_main .ours_main_t3 {
    /*background: url(../img/banner_ours3.png) no-repeat;*/
}

.ours_main_cont3 {
    overflow: hidden;
}

.ours_main_cont3 .ours_main_cont3_l {
    float: left;
    padding: 33px 0 0 8px;
}

.ours_main_cont3 .ours_main_cont3_l ul li {
    margin-bottom: 43px;
}

.ours_main_cont3 .ours_main_cont3_l ul li img {
    margin-top: -5px;
}

.ours_main_cont3 .ours_main_cont3_l ul li span {
    font-size: 18px;
    color: #179ff1;
    margin-left: 12px;
}

.ours_main_cont3 .ours_main_cont3_l ul li p {
    font-size: 14px;
    margin: 8px 0 0 35px;
}

.ours_main_cont3 .ours_main_cont3_r {
    float: right;
    margin-top: 85px;
}

.ours_main_cont3 .ours_main_cont3_l .list {
    margin: 0 0 43px 35px;
}

.ours_main_cont3 .ours_main_cont3_l .list p {
    line-height: 28px;
    font-size: 14px;
}

/*诚聘英才*/
.commercial_main .ours_main_t4 {
    /*background: url(../img/banner_ours4.png) no-repeat;*/
}

.ours_main_cont4 {
    overflow: hidden;
}

.ours_main_cont4 .ours_main_cont4_l {
    float: left;
    margin-top: 40px;
}

.ours_main_cont4 .ours_main_cont4_cont {
    border: 1px solid #d2d2d2;
    width: 532px;
    margin-bottom: 40px;
    padding-bottom: 15px;
}

.ours_main_cont4 .ours_main_cont4_cont h2 {
    width: 532px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background: #e0e0e0;
    font-size: 20px;
    color: #179ff1;
}

.ours_main_cont4 .ours_main_cont4_cont p {
    font-size: 16px;
    margin: 16px 0 10px 16px;
    color: #999;
}

.ours_main_cont4 .ours_main_cont4_cont ul {
    list-style: disc;
    color: #179ff1;
    font-size: 14px;
    margin-left: 16px;
    padding-left: 16px;
}

.ours_main_cont4 .ours_main_cont4_cont ul li {
    list-style: disc;
    width: 467px;
}

.ours_main_cont4 .ours_main_cont4_cont ul li span {
    color: #333;
    line-height: 30px;
    display: block;
}

.ours_main_cont4 .ours_main_cont4_cont p.list_1 {
    margin-top: 30px;
}

.ours_main_cont4 .ours_main_cont4_r {
    float: right;
    margin-top: 200px;
}

/*产品介绍*/
.product_tops {
    height: 79px;
}

.product {
    width: 1100px;
    margin: 0 auto;
}

.product h2 {
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    border-bottom: 2px solid #D6E4ED;
}

.product .product_cont {
    overflow: hidden;
    margin-bottom: 50px;
}

.product .product_cont .product_cont_l {
    float: left;
    padding-top: 16px;
}

.product .product_cont .product_cont_l p {
    line-height: 32px;
    font-size: 14px;
    text-indent: 2em;
    width: 640px;
}

.product .product_cont .product_cont_r {
    float: right;
    margin-top: 24px;
}

.product .product_cont3 {
    overflow: hidden;
    padding-top: 10px;
}

.product .product_cont3 .product_cont3_t {
    padding-right: 16px;
}

.product .product_cont3 .product_cont3_t p {
    line-height: 32px;
    font-size: 14px;
    text-indent: 2em;
}

.product .product_cont3 .product_cont3_m {
    margin-top: 30px;
    text-align: center;
}

.kefu_pic {
    width: 100px;
    height: 85px;
    position: absolute;
    top: 51px;
    z-index: 99;
    right: -3px;
    background: #fff;
    text-align: center;
    padding-top: 15px;
    display: none;
}

.kefu_pic em {
    font-size: 12px;
    color: #179ff1;
    display: block;
    line-height: 30px;
}

.amt_color {
    color: #ffc000;
}

/*订单详情 （通用）*/
.orderinfo {
    width: 100%;
    line-height: 35px;
}

.orderinfo tr {
    line-height: 35px;
}

.orderinfo td.orderlabel {
    text-align: left;
    width: 215px;
    text-align: right;
    width: 185px;
}

.orderinfo td.ordetext {
    text-align: left;
    width: 215px;
}