/* CSS Document */
.popuBg{
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999996;
.popuBg   filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6; opacity: 0.6;
}
.contPopu{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    text-align: center;
}
.popu{
    display: inline-block;
    max-width: 40%;
    vertical-align: middle;
    background: #fff;
}
.contPopu i {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.popu .cont{
    padding: 40px 20px;
}
.popu .cont p{
    font-size: 16px;
    color: #999;
    margin-bottom: 30px;
    text-align: left;
}
.popu .cont a{
    display: block;
    background: #ffc000;
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}


.page{
    float: right;
    margin-top:10px;
    margin-bottom:25px;
    margin-right:40px;
    height:auto;
    padding:2px 0;
}
.page a{
    padding:3px 8px;
    margin-left:4px;
    color:#0e6ab0;
    border:1px solid #ccc;
    background:#fff;}
.marlefrig5{
    margin-left:5px;
    margin-right:5px;}
.marlef10{
    margin-left:10px;}
.pad2{
    padding:2px;
    margin-left:5px;
    border: solid 1px #d2d2d2;
}
.gobg{
    width:33px;
    height:19px;
    border:0;
    margin-left:5px;
    background:url(../img/go_bg.gif) no-repeat 0 0;
    cursor:pointer;}