<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haidela.payment.pay.configure.mapper.MerchantConfigureMapper">

    <resultMap id="resultMap" type="com.haidela.payment.pay.configure.domain.MerchantConfigure">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="amount" jdbcType="VARCHAR" property="amount"/>
        <result column="amount_limit" jdbcType="VARCHAR" property="amountLimit"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="merchant_id" jdbcType="VARCHAR" property="merchantId"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="time_difference" jdbcType="VARCHAR" property="timeDifference"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="total_one_amount" jdbcType="VARCHAR" property="totalOneAmount"/>
        <result column="call_time" jdbcType="VARCHAR" property="callTime"/>
        <result column="omp_iD" jdbcType="VARCHAR" property="ompID"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
    </resultMap>

    <update id="updateMerchantId" parameterType="com.haidela.payment.pay.configure.domain.MerchantConfigure">
         UPDATE lyx_merchant_configure SET call_time=now() WHERE merchant_id = #{merchant_id};
    </update>

    <update id="update" parameterType="com.haidela.payment.pay.configure.domain.MerchantConfigure">
         UPDATE lyx_merchant_configure
         SET total_one_amount = #{totalOneAmount,jdbcType=VARCHAR},status = #{status,jdbcType=VARCHAR}
         WHERE id = #{id}
    </update>

    <select id="findByStstus" resultMap="resultMap">
        select * from lyx_merchant_configure where status = #{status}
    </select>


</mapper>