<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>个体商户配置</h1>
<br/>
<br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 50px;text-align:center;">序号</th>
            <th style="width:100px;text-align:center;">商户ID</th>
            <th style="width:100px;text-align:center;">公司ID</th>
            <th style="width:100px;text-align:center;">交易金额上限</th>
            <th style="width:80px;text-align:center;">支付类型</th>
            <th style="width:100px;text-align:center;">开始时间</th>
            <th style="width:100px;text-align:center;">结束时间</th>
            <th style="width:80px;text-align:center;">时间差</th>
            <th style="width:100px;text-align:center;">调用时间</th>
            <th style="width:100px;text-align:center;">状态</th>
            <th style="width:100px;text-align:center;">单日总额</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="configure : ${configureList}">
            <th th:text="${configureStat.index+1}" style="text-align:center;"></th>
            <td th:text="${configure.getMerchantId()}" style="text-align:center;"></td>
            <td th:text="${configure.getCompID()}" style="text-align:center;"></td>
            <td th:text="${configure.getAmountLimit()}" style="text-align:center;"></td>
            <td th:text="${configure.getPayType()}" style="text-align:center;"></td>
            <td th:text="${configure.getStartTime()}" style="text-align:center;"></td>
            <td th:text="${configure.getEndTime()}" style="text-align:center;"></td>
            <td th:text="${configure.getTimeDifference()}" style="text-align:center;"></td>
            <td th:text="${configure.getCallTime()}" style="text-align:center;"></td>
            <td th:text="${configure.getStatus()}" style="text-align:center;"></td>
            <td th:text="${configure.getTotalOneAmount()}" style="text-align:center;"></td>
            <td>
                <a th:href="@{/toEdit(id=${configure.getId()})}">修改</a>
            </td>
            <td>
                <a th:href="@{/delete(id=${configure.getId()})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{http://localhost:8080/merchant-configure/configure/insert}" class="btn btn-info">新增</a>
        <a href="http://localhost:8080/merchant-configure/all" th:href="@{http://localhost:8080/merchant-configure/all}" class="btn btn-info">搜索</a>
    </div>
</div>
</body>
</html>