<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>WdatePicker--好用的日历插件</title>

<script src="../My97DatePicker/WdatePicker.js"></script>

</head>

<body>

<input type="text" class="Wdate" onClick="WdatePicker()">

<input class="Wdate" style="display:inline-block !important; height:30px;width:23%;" type="text" name="publishStartTimeStr" id="publishStartTimeStr"
       onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',startDate:'%y-%M-%d 00:00:00',maxDate:'#F{$dp.$D(\'publishEndTimeStr\')}'})" />
<label>～</label>
<input class="Wdate" style="display:inline-block !important; height:30px;width:23%;" type="text" name="publishEndTimeStr" id="publishEndTimeStr" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',startDate:'%y-%M-%d 23:59:59',minDate:'#F{$dp.$D(\'publishStartTimeStr\')}'})" />

<input type="text" class="Wdate" onClick="WdatePicker()"><br>



开始时间：
<input type="text" placeholder=" —请选择— " readonly="readonly" id="begintime" name="begintime"
       style="width: 100px;" class="Wdate" onfocus="WdatePicker({isShowClear:false,dateFmt:'yyyy-MM-dd',startDate:'%y-%M-%d',maxDate:'#F{$dp.$D(\'endtime\')||\'%y-%M-%d\'}'})" />
结束时间：
<input type="text" placeholder=" —请选择— " readonly="readonly" id="endtime" name="endtime"
       style="width: 100px;" class="Wdate" onfocus="WdatePicker({isShowClear:false,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'begintime\')}',maxDate:'%y-%M-%d',startDate:'%y-%M-%d'})" />

开始时间: <input id="startDate" class="Wdate" type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'dueDate\')||\'2020-10-01\'}'})"/>
结束时间: <input id="dueDate" class="Wdate" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'2020-10-01'})"/>


</body>

</html>

