<link rel="shortcut icon" href="/img/hefupal-head.png" type="image/x-icon"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>账务明细</title>
    <style type="text/css">
        #detail li {
            line-height: 30px;
            padding: 1px;
        }
    </style>
    <script src="../static/My97DatePicker/WdatePicker.js" type="text/javascript"
            th:src="@{/My97DatePicker/WdatePicker.js}"></script>
    <script src="../static/js/date.js" type="text/javascript" th:src="@{/js/date.js}"></script>
</head>
<body>
<div id="continer">
    <link rel="shortcut icon" href="/img/hefupal-head.png" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="../static/js/jquery-1.11.1.min.js" type="text/javascript"
            th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script src="../static/js/index.js" type="text/javascript" th:src="@{/js/index.js}"></script>
    <script src="../static/js/jquery.form.js" type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
    <link href="../static/css/WdatePicker.css" th:href="@{/css/WdatePicker.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/page.css" th:href="@{/css/page.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/zzsc.css" th:href="@{/css/zzsc.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var ctx = '';

        function kefuMouseOver() {
            $(".kefu_pic").show();
        }

        function kefuMouseOut() {
            $(".kefu_pic").hide();
        }

        function onlyMoney(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, ""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g, ""); //验证第一个字符是数字而不是
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
    </script>
    <div id="header">
        <div class="head">
            <div class="head_l">
            </div>
            <div class="head_m">
                <ul>
                    <li class="current"><a href="/mchntCenter">商户中心</a></li>
                </ul>
            </div>
            <div class="head_r">
                <ul>
                    <li><img src="../static/img/home-icon_06.png"/></li>
                    <li><img src="../static/img/home-icon_09.png"/><a href="javascript:void(0)">消息</a></li>
                    <li><img src="../static/img/home-icon_06.png"/></li>
                    <li><img src="../static/img/home-icon_11.png"/><a href="/loginOut">退出</a></li>
                </ul>
                <script language="javascript">
                    var OnlineTop = 120;
                    var animate = 0;
                    var OnlineTopC = OnlineTop + "px";
                    var $OnlineBox = $("#for_kefu_block");
                    $(document).ready(function () {
                        $OnlineBox.css('display', 'block');
                        $OnlineBox.css('top', OnlineTopC);
                    });
                    FollowDiv = {
                        follow: function () {
                            $('#for_kefu_block').css('position', 'absolute');
                            $(window).scroll(function () {
                                var f_top = $(window).scrollTop() + OnlineTop;
                                $('#for_kefu_block').css('top', f_top);
                            });
                        }
                    }
                    $(".kefu_close").click(function () {
                        $(".kefu_block").hide();
                        $(".kefu_flag").show();

                    })
                    $(".kefu_flag").click(function () {
                        $(this).show();
                        $(".kefu_block").show();

                    })
                </script>


                <div class="kefu_pic" onMouseOver="kefuMouseOver();" onmouseout="kefuMouseOut();">
                    <img src="/img/tel.png"/>
                    <em>400-048-8006</em>
                </div>


            </div>
        </div>
    </div>

    <div id="page">
        <link rel="shortcut icon" href="../static/img/hefupal-head.png" type="image/x-icon">
        <script type="text/javascript">
            function changeMenu(action, fid, id) {
                $("#menuForm").attr("action", action);
                $("#menuFid").val(fid);
                $("#menuId").val(id);
                $("#menuForm").submit();
            }
        </script>
        <form id="menuForm" method="post">
            <input type="hidden" name="leftfid" id="menuFid"> <input type="hidden" name="leftid" id="menuId">
        </form>
        <div class="order_tops">
            <div class="order_top">
                <div class="order_top1">
                    <div class="line"></div>
                    <ul>
                        <li class="current">
                            <a href="javascript:changeMenu('/dfpay/dfRefund','1','107')">查询统计</a>
                            <img src="../static/img/inquiry_03.png" class="img_1" style="display: none;"/>
                            <img src="../static/img/inquiry_05.png" style="display: block;" class="img_2"/>
                            <div class="order_topcontmain " style="display: none;">
                                <a class="yellow"
                                   href="javascript:changeMenu('http://localhost:8080/pay-customer/payCustomerDetail','1','105')">账务明细</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="order_main">
            <div class="order_main_l">
                <ul>
                    <li class="current"><a
                            href="javascript:changeMenu('http://localhost:8080/pay-customer/payCustomerDetail','1','105')">账务明细</a>
                    </li>
                </ul>
            </div>
            <form action="http://localhost:8080/pay-customer/payCustomerDetail" id="myForm" method="get">
                <div class="order_main_r">
                    <div class="accounting_main_cont">
                        <!-- 基本子账户信息 -->
                        <div class="accounting_main_cont_t">
                            <ul>
                                <li class="current" onclick="changeAcct(0)">基本子账户</li>
                            </ul>
                            <input type="hidden" name="accountType" id="accountType" value="0">
                        </div>
                        <div class="accounting_main_cont_m">
                            <ul>
                                <li>入账总金额<p>0.00</p></li>
                                <li>代付总金额<p>0.00</p></li>
                                <li>待结算金额<p>0.00</p></li>
                                <li>账户总金额<p>0.00</p></li>
                            </ul>
                            <ul style="display:none;">
                                <li>入账总金额<p>0.00</p></li>
                                <li>代付总金额<p>0.00</p></li>
                                <li>待结算金额<p>0.00</p></li>
                                <li>账户总金额<p>0.00</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="order_main_top accounting_main_top">
                        <ul style="height: 120px;">
                            <li class="inp1"><span>订单时间</span>
                                <input class="Wdate" style="width: 183px;padding-right: 35px" type="text"
                                       name="startTime" id="platTimeStart" placeholder=" —请选择— "
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'platTimeEnd\')}'});">
                                <em>至</em>
                                <input style="width: 183px;" type="text" id="platTimeEnd" placeholder=" —请选择— "
                                       name="endTime" class="Wdate"
                                       onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'platTimeStart\')}'});">
                            </li>
                            <li>
                                <span>商户ID</span>
                                <select name="customerId" id="customerId">
                                    <option type="0" value="">全部</option>
                                    <option type="1" value="873191015204725935">振江食品</option>
                                    <option type="2" value="873191015204741854">成鹏文化</option>
                                    <option type="3" value="873191015204744119">唐三服装</option>
                                    <option type="4" value="873191015204745402">国华体育</option>
                                    <option type="5" value="873191015204746257">惠英文化</option>
                                    <option type="6" value="873191015204747155">赵辉文化</option>
                                    <option type="7" value="873191015214776713">梁知恭文化</option>
                                    <option type="8" value="873191015214781385">李娟文化</option>
                                    <option type="9" value="873191015214782860">体萍文化</option>
                                    <option type="10" value="873191015214783801">寒冰文化</option>
                                    <option type="11" value="873191015214784609">柯云计算机</option>
                                    <option type="12" value="873191015214791979">欧阳琴文化</option>
                                    <option type="13" value="873191012142662142">森瀚</option>
                                    <option type="14" value="873191012142673538">云剑食品</option>
                                    <option type="15" value="873191012152693511">志强服装</option>
                                    <option type="16" value="873191012152720533">罗义维修</option>
                                    <option type="17" value="873191012152721807">利辉服装</option>
                                    <option type="18" value="873191016115012444">庆池体育</option>
                                    <option type="19" value="873191016155232512">雪兰文化</option>
                                    <option type="20" value="873191016155241427">代超文化</option>
                                    <option type="21" value="873191016155246137">黎慧文化</option>
                                    <option type="22" value="873191016155248422">吴长服装</option>
                                    <option type="23" value="873191016155250838">绍清服装</option>
                                    <option type="24" value="873191016155251201">晓敏服装</option>
                                    <option type="25" value="873191016165310979">远庆文化</option>
                                    <option type="26" value="873191016165317341">夏威文化</option>
                                    <option type="27" value="873191009170812523">邓娟服装</option>
                                </select>
                            </li>
                            <li>
                                <span>公司ID</span>
                                <select name="compID" id="compIDStr">
                                    <option type="0" value="">全部</option>
                                    <option type="1" value="1">2789</option>
                                    <option type="2" value="-1">4189</option>
                                </select>
                            </li>
                            <li><span>交易类型</span> <select name="typeStr" id="typeStr">
                                <option value="">全部</option>
                                <option value="交易成功">交易成功</option>
                                <option value="交易中">交易中</option>
                                <option value="交易失败">交易失败</option>
                            </select></li>
                            <li>
                                <span>商户订单号</span>
                                <input type="text" name="tranFlow" value="" placeholder="输入商户订单号" maxlength="64"/>
                            </li>
                        </ul>
                        <div class="line">
                            <button type="button" onclick="subForm()">搜索</button>
                        </div>
                    </div>

                    <div class="accounting_main_foot">
                        <table>
                            <thead>
                            <tr>
                                <th style="width:40px">序号</th>
                                <th style="width:100px">交易时间</th>
                                <th style="width:80px">交易类型</th>
                                <th style="width:110px;margin-left: 5px;">商户订单号</th>
                                <th style="width:100px">交易金额</th>
                                <th style="width:100px">买家ID</th>
                                <th style="width:100px">公司ID</th>
                                <th style="width:80px">交易状态</th>
                            </tr>
                            <tr th:each="detail : ${detailList}">
                                <!-- thymeleaf会默认给个“变量名+Stat"的状态变量,通过变量获取到每条数据的序列号 -->
                                <th th:text="${detailStat.index+1}" style="text-align:center;"></th>
                                <th th:text="${detail.getModifyTime()}" style="text-align:center;"></th>
                                <th th:text="${detail.getPayType()}" style="text-align:center;"></th>
                                <th th:text="${detail.getTranFlow()}" style="text-align:center;"></th>
                                <th th:text="${detail.getAmount()}" style="text-align:center;"></th>
                                <th th:text="${detail.getBuyerId()}" style="text-align:center;"></th>
                                <th th:text="${detail.getCompID()}" style="text-align:center;"></th>
                                <th th:text="${detail.getStatus()}" style="text-align:center;"></th>
                            </tr>
                            </thead>
                        </table>
                        <div class="order_main_tabel_bottom accounting_main_tabel_bottom" style="margin-right:0;">
                            <div class="accounting_main_tabel_btn">
                                <script type="text/javascript">
                                    function exportExecl() {
                                        $("#myForm").attr("action", "http://localhost:8080/pay-customer/payCustomerDetail");
                                        $("#myForm").submit();
                                        $("#myForm").attr("action", "http://localhost:8080/pay-customer/payCustomerDetail");
                                    }
                                </script>
                                <button type="button" onclick="exportExecl()">导出数据</button>
                            </div>
                            <div class='page'>
                                <SCRIPT LANGUAGE="JavaScript">
                                    function submitFormPage(start) {
                                        document.getElementById('start').value = start;
                                        document.getElementById('pageForm').submit();
                                    }

                                    function goToPage() {
                                        var pageVal = document.getElementById('tzym');
                                        var countPageNo = 0;
                                        var txt = /^\d*$/;
                                        if (!txt.test(pageVal.value)) {
                                            alert('页数应为正整数!');
                                            pageVal.focus();
                                            return;
                                        }
                                        if (pageVal.value < 2) {
                                            submitFormPage(0);
                                        }
                                        if (pageVal.value >= countPageNo) {
                                            submitFormPage(0);
                                        } else {
                                            submitFormPage((pageVal.value - 1) * 10);
                                        }
                                    }
                                </SCRIPT>
                                <a href='#'
                                   style='background:#fcf1e3;border:1px solid #e58f19;color:#e58f19;font-weight:bold;'>0</a>
                                <span class='marlefrig5'>共0页</span>
                                <span class='marlef10'>跳转到
                                    <input type='text' size='4' value='0' id='tzym' class='pad2'/>
                                    <input type='button' onclick='goToPage()' value=' ' class='gobg'/>
                                </span>&nbsp;&nbsp;共0条记录
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="footer" class="footer2">
        <div class="foot foot2">
            <ul>
            </ul>
            <p>欢迎使用支付后台管理系统,祝您生活愉快</p>
        </div>
    </div>
</div>

<!-- 翻页用到 -->
<form id="pageForm" action="/account/accountDetail1" method="post">
    <input type="hidden" name="start" id="start"/>
    <input type="hidden" name="accountType" id="accountType1" value="0"/>
    <input type="hidden" name="endTime" value="2019-10-22 23:59:59"/>
    <input type="hidden" name="startTime" value="2019-10-22 00:00:00">
    <input type="hidden" name="blsignStr" value="">
    <input type="hidden" name="typeStr" value="">
    <input type="hidden" name="customerId" value="">
    <input type="hidden" name="compIDStr" value="">
</form>

<script type="text/javascript">
    $(function () {
        $(".accounting_main_cont_t ul li").click(function (event) {
            $(this).addClass('current').siblings().removeClass('current');
            $(".accounting_main_cont_m ul").hide();
            $(".accounting_main_cont_m ul").eq($(this).index()).show();
        });
    });

    function subForm() {
        var platTimeStart = $("#platTimeStart").val();
        var platTimeEnd = $("#platTimeEnd").val();
        var num = daysBetween(platTimeStart, platTimeEnd);
        if (num > 3) {
            alert("时间间隔不能大于3天");
        } else {
            $("#myForm").attr("action", "http://localhost:8080/pay-customer/payCustomerDetail");
            $("#myForm").submit();
        }
    }

    function changeAcct(type) {
        $("#accountType").val(type);
        $("#accountType1").val(type);
        $("#pageForm").attr("action", "http://localhost:8080/pay-customer/payCustomerDetail");
        $("#pageForm").submit();
    }
</script>
</body>
</html>